body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:gainsboro;
}

.task {
    border-color: black;
}

.task span i {
    display: none;
}

.task span {
    width: 24px;
}

.task span:hover {
    cursor: pointer;
}